body {
    background-color: #f0f2f5;
}

.card {
    border: none;
    /* ลบขอบของ card */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* เพิ่มเงาให้ card */
}

.alert {
    text-align: center;
}

#game-title {
    font-size: 2.5rem;
    color: #940e0e;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 2px 2px #9c9c9c;
}

#total-questions{
    font-weight: bold;
    color:#1e90ff;
}

#correct-answers{
    font-weight: bold;
    color:#3cb371;
}

#incorrect-answers {
    font-weight: bold;
    color:#ff6347;
}


#result, #answer {
    font-size: 1.5rem;
    margin-top: 20px;
}

/* Counter Styles */
.counter {
    font-size: 1.5rem;
    margin-top: 10px;
}

.counter span {
    display: block;
    font-weight: bold;
}

/* Mobile Responsive Styles */
@media (max-width: 576px) {
    .counter {
        font-size: 1.2rem;
    }

    .btn-custom {
        font-size: 1rem;
        padding: 8px 15px;
    }

    #progress-bar {
        font-size: 0.8rem;
    }
}
