body {
    background-color: #f8f9fa;
}

.container {
    max-width: 600px;
    margin-top: 50px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.select-custom {
    width: 65%; /* ปรับความกว้างของ select box */
}

.btn-custom {
    width: 150px;
    margin: 10px;
}

#game-title {
    font-size: 3rem;
    color: #007bff;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 2px 2px #f8f9fa;
}

#result, #answer {
    font-size: 1.5rem;
    margin-top: 20px;
}
